﻿
@{
    ViewData["Title"] = "Start";
}
    <div class="jumbotron">
        <h1 class="display-4">Componente de Integração Unblu</h1>
        <p class="lead">Esta área permite testar a integração/activação da plataforma da unblu.</p>
        <hr class="my-4">
        <p>Para ativar a plataforma da Unblu, clique por favor num dos seguintes exemplos:</p>
        <a class="btn btn-success btn-lg" href="javascript:startUnbluChat('chat');" role="button" id="chat">Chat</a>
        <a class="btn btn-danger btn-lg" href="javascript:startUnbluCoBrowsing('cobrowsing');" role="button" id="cobrowsing">CoBrowsing</a>
    </div>

<environment include="Development">
    <script src="~/js/UnbluInteraction.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/UnbluInteraction.min.js" asp-append-version="true"></script>
</environment>

    
