﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ITSECTOR – SISTEMAS DE INFORMAÇÃO, S .A., traded corporation, with its head office in Rua José Falcão, no. 151, 1º/2º, 4050-317 Porto, registered in the Conservatory of the Commercial Registry of Porto, under the no. 507291727,  with the share capital of 500.000 Euros, intends, by providing and complying with the present Policy Privacy, to correspond to the Regulation guidelines (UE) 2016/679, of the European Parliament and of the Council of the 27TH of April of 2016- General Regulation on the Protection of Personal Data, and also to the assortment of the Portuguese laws which regulates the theme of the protection of personal data.</p>
